
/* JUMBOTRON */

.darkJumbotron {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
}

.wrapper {
    padding: 50px 50px;
}

.darkBackground {
    /* background-color: rgb(126, 1, 1); */
    background-color: rgb(255, 255, 255);
}

.headerContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.column {
    flex: 1;
}

.textContainer {
    text-align: center;
    text-align: right;
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* padding: 0 70px; */
}

.imageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.imageProperty {
    width: 420px;
    height: 420px;
    border-radius: calc(infinity * 1px);
}

.arrow {
    position: relative;
    border:white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

/* SERVICE */

.jobContainer {
    display: grid;
    justify-items: center;
    margin-top: 50px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: calc(var(--spacing) * 10);
}

.card {
    width: 360px;
    aspect-ratio: 1 / 1;
    border-radius: 18px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .image-box img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.card::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
    z-index: 2;
}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
    opacity: 1;
    inset: 20px;
}

.content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.4s ease-in-out;
    z-index: 3;
    color: white;
    text-align: center;
}

.card:hover .content {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}