
/* JUMBOTRON */

/* @import "tailwindcss"; */

@theme {
    --font-script: "Nanum Pen Script", cursive;
}

.darkJumbotron {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
}

.wrapper {
    max-width: 1080px;
    margin: 0px auto;
}


.darkBackground {
    /* background-color: rgb(126, 1, 1); */
    background-color: rgb(255, 255, 255);
}

.headerContainer {
    display: flex;
    height: 100%;
}

.column {
    flex: 1;
}

.textContainer {
    text-align: center;
    text-align: right;
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* padding: 0 70px; */
}

.imageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.imageProperty {
    width: 420px;
    height: 420px;
    border-radius: calc(infinity * 1px);
}

@media (max-width: 980px) {
    .textContainer {
        text-align: center;
    }
    .textContainer h1{
        font-size: 30px;
    }
    .textContainer p{
        font-size: 25px;
    }
    .imageProperty{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 780px) {

    .headerContainer {
        justify-content: center;
    }

    .textContainer {
        justify-content: end;
        padding-bottom: 30px;
    }

    .textContainer h1{
        font-size: 25px;
    }
    .textContainer p{
        font-size: 20px;
    }

    .imageContainer {
        justify-content: start;
    }

    .headerContainer{
        flex-direction: column;
    }
}

/* SERVICE */

.serviceContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    margin-top: 50px;
    gap: calc(var(--spacing) * 10);
}

.card {
    width: 360px;
    aspect-ratio: 1 / 1;
    border-radius: 18px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .image-box img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.card::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
    z-index: 2;
}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
    opacity: 1;
    inset: 20px;
}

.content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.4s ease-in-out;
    z-index: 3;
    color: white;
    text-align: center;
}

.card:hover .content {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}

@media screen and (max-width: 1200px) {
    .serviceContainer {
        padding-inline: 20px;
    }
    .card {
        width: 300px;
    }

}

@media (max-width: 980px) {
    .card {
        width: 250px;
    }
    .content h2 {
        font-size: 15px;
    }
    .content p {
        font-size: 12px;
    }
}

@media (max-width: 780px) {
    .serviceBG {
        height: fit-content;
        padding-block: 40px;
    }
    .serviceBG h1 {
        font-size: 25px;
    }
    .serviceContainer {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/* SKILLS */

.skillsBG {
    align-content: center;
    background-color: rgb(255, 222, 222);
}

.skillContainer {
    display: flex;
    /* grid-template-columns: repeat(5, minmax(0, 1fr)); */
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    margin-top: 50px;
    font-family: "Nanum Pen Script", cursive;
    font-size: larger;
    padding: 0 80px;
    flex-basis: 0;
    flex-grow: 1;
}

.skillContainer li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50px;
    margin: 0 50px;
    padding: 20px 0px;
    color: rgb(0, 0, 54);
}

@media screen and (max-width: 1200px) {


}

@media (max-width: 980px) {
    .skillContainer li {
        width: 30px;
        font-size: 15px;
    }
}

@media (max-width: 780px) {
    .skillsBG {
        height: fit-content;
        padding-block: 40px;
    }
    
    .skillsBG h1 {
        font-size: 25px;
    }

    .skillContainer {
        padding: 0 10px;
    }
    .skillContainer li {
        /* padding: 10px; */
    }
}

/* ABOUT */

.aboutBG {
    align-content: center;;
    background-color: rgb(255, 255, 255);
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.aboutMeBio {
    width: 90%;
    text-align: left;
    display: flex;
    padding-inline: 50px;
}

.aboutMeImg {
    display: flex;
    flex-direction: column;
    /* padding-top: 0px; */
    /* height: 80vh; */
    /* width: 80%; */
}

.aboutImg {
    height: 300px;
    width: 270px;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    .aboutMeBio p {
        font-size: 20px;
    }

    .aboutMeImg {
        justify-content: center;
    }

    .aboutContainer {
        margin-right: 50px;
    }
}

@media (max-width: 980px) {
    .aboutBG {
        height: fit-content;
        padding-block: 40px;
    }


    .aboutBG h1 {
        padding-top: 50px;
    }

    .aboutMeImg {
        justify-content: center;
    }

    .aboutImg {
        height: 300px;
        width: 270px;
    }

    .aboutMeBio {
        padding-top: 20px;
    }
}

@media (max-width: 780px) {
    .aboutBG h1 {
        font-size: 25px;
    }

    .aboutContainer {
        flex-direction: column;
    }

    .aboutMeBio {
        padding-inline: 30px;
        margin-top: -40px;
    }
    
    .aboutMeImg {
        margin-top: 30px;
        align-items: center;
    }

    .aboutImg {
        height: 350px;
        width: 270px;
    }
}

/* CONTACT */

.contactBG {
    height: fit-content;
    background-color: rgb(255, 222, 222);
}

.contactContainer {
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;
}

.contactText {
    width: 50%;
    padding-right: 70px;
}

.socialIcon {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.socialIcon li {
    display: flex;
    padding-inline: 30px;
    padding-block: 30px;
    color: rgb(17, 15, 121);
}

.contactForm {
    width: 50%;
    align-items: center;
}

.contactLabel {
    display: block;
    margin-bottom: 8px;
    font-size: 3xl;
    font-weight: bold;
    line-height: 1.4;
    color: #000000;
    /* @media (prefers-color-scheme: dark) {
        color: #d1d5dc; 
    } */
}

.contactInput {
    background-color: #f9fafb;
    border-color: #d1d5dc;
    color: #101828;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 10px;
}

.formButton {
    background-color: #b91b1b;
    border-color: #d1d5dc;
    padding-block: 12px;
    padding-inline: 12px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: white;
    border-radius: 8px;
}

.footerBG {
    background-color: #b91b1b;
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .contactInput {
        width: 80%;
    }
}

@media (max-width: 980px) {

}

@media (max-width: 780px) {

    .contactContainer {
        flex-direction: column;
        align-items: center;
    }
    
    .contactText {
        width: 80%;
        text-align: justify;
        padding-right: 0;
    }

    .contactForm {
        width: 80%;
    }

    .contactInput {
        width: 100%;
    }
}