
/* JUMBOTRON */

@import "tailwindcss";

@theme {
    --font-script: "Nanum Pen Script", cursive;
}

.darkJumbotron {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
}

.wrapper {
    padding: 50px 50px;
}

.darkBackground {
    /* background-color: rgb(126, 1, 1); */
    background-color: rgb(255, 255, 255);
}

.headerContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.column {
    flex: 1;
}

.textContainer {
    text-align: center;
    text-align: right;
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* padding: 0 70px; */
}

.imageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.imageProperty {
    width: 420px;
    height: 420px;
    border-radius: calc(infinity * 1px);
}

.arrow {
    position: relative;
    border:white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

/* SERVICE */

.serviceBG {
    background-color: rgb(255, 222, 222);
}

.serviceContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    margin-top: 50px;
    gap: calc(var(--spacing) * 10);
}

.card {
    width: 360px;
    aspect-ratio: 1 / 1;
    border-radius: 18px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .image-box img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.card::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
    z-index: 2;
}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
    opacity: 1;
    inset: 20px;
}

.content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.4s ease-in-out;
    z-index: 3;
    color: white;
    text-align: center;
}

.card:hover .content {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}

.skillContainer {
    display: flex;
    /* grid-template-columns: repeat(5, minmax(0, 1fr)); */
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    margin-top: 50px;
    font-family: "Nanum Pen Script", cursive;
    font-size:larger;
    padding: 0 80px;
    flex-basis: 0;
    flex-grow: 1;
}

.skillContainer li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    margin: 0 50px;
    padding: 20px 0px;
    color: rgb(0, 0, 54);
}

.aboutBG {
        background-color: rgb(255, 255, 255);
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.aboutMeBio {
    text-align: right;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 40px;
}

.aboutMeImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 80%;
}

.aboutImg {
    height: 75%;
    border-radius: 10px;
}

.contactBG {
    background-color: rgb(255, 222, 222);
}

.contactContainer {
    display: flex;
    margin-top: 50px;
}

.contactText {
    width: 50%;
    padding-right: 70px;
}

.socialIcon {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.socialIcon li {
    display: flex;
    padding-inline: 30px;
    padding-block: 30px;
    color: rgb(17, 15, 121);
}

.contactForm {
    width: 50%;
    align-items: center;
}

.contactLabel {
    display: block;
    margin-bottom: 8px;
    font-size: 3xl;
    font-weight: bold;
    line-height: 1.4;
    color: #101828;
    @media (prefers-color-scheme: dark) {
        color: #d1d5dc; 
    }
}

.contactInput {
    background-color: #f9fafb;
    border-color: #d1d5dc;
    color: #101828;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 10px;
}

.formButton {
    background-color: #b91b1b;
    border-color: #d1d5dc;
    padding-block: 12px;
    padding-inline: 12px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: white;
    border-radius: 8px;
}